BOT_TOKEN=
DATABASE_URL=postgresql+asyncpg://dotmath:CHANGEME@localhost:5432/dotmath
DEBUG=false
ADMIN_IDS=
ADMIN_BACKUP_PASSWORD=

# For docker-compose
POSTGRES_USER=dotmath
POSTGRES_PASSWORD=CHANGEME
POSTGRES_DB=dotmath
